 body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  background-color: beige;
}
.container-image {
  max-width: 100%;
  height:auto;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.resize{
  max-width: 100%;
  height:auto;
}

.container {
  width: 100%;
  /* min-height: 100vh; */
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}

.Github{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.LinkedIn{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}

.menuIcon{
  width: 40px;
  cursor: pointer;
  display: none;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover{
  color: #0591AF
}

@media only screen and (max-width:700px)
{
  nav ul{
    flex: 1;
    text-align: right;
  }
  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
color:black;
  }
  .responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}